body {
    background: #007bcf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 88%;
    height: 80%;
    max-height: 800px;
    border: 1px solid black;
    border-spacing: 0;
}

th, td {
    border: 1px solid black;
}

#rl_team_stats_table {
    width: 88%;
    height: 80%;
    max-height: 800px;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 3px solid black;
}

.sticky-table-col-row {
    position: sticky;
    background-color: #007bcf;
    z-index: 1;
}

.sticky-table-header-row {
    position: sticky;
    background-color: #007bcf;
}

.first-row {
    border-bottom: 1px solid black;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    top: -1px;
}

.sticky-table-data-col {
    position: sticky;
    background-color: #007bcf;
}

.first-col {
    border-right: 2px solid black;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    left: -1px;
}

.basic-col {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}