<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rocket League Stats Predictor</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='rl_statistics_querying.css') }}" />
        <script>
            var button = document.getElementById('go_to_table_btn');
            button.onclick = function() {
                location.assign(`${document.URL}/queries`)
            }
        </script>
    </head>
    <body>
        <h1>Rocket League Statistics</h1>
        <button id="go_to_table_btn">Go to Table Overview</button>
    </body>
</html>